/* Convenciones al momento de agregar estilos
1. Posicionamiento --> static, absolute, relative, fixed
2. Modelo de caja (Box model) --> margin, border, padding, content
3. Tipografía --> tipos, tamaños de fuente, etc
4. Estilos visuales --> box-shadow, border-radius, gradient, etc
5. Otros --> reglas CSS y más
*/

/* Figmo project
https://www.figma.com/file/sMmlQaZldfDcLERYYWe6h4/Bata-Bit?node-id=44%3A593
*/
:root {
    /* Colores */
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --black: #282623;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

/* Agregando estilos al Header */
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 295px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 40px;
    align-self: center;
}

.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 195px;
    margin-top: 30px;
    align-self: center;
}


.header__title-container h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--just-white)
}

.header__title-container p {
    margin-top: 24px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--soft-orange)
}

.header__title-container .header__button {
    /* Posicionamiento */
    position: absolute;
    left: calc(50% - 114.5px);
    top: calc(100% - 24px);
    /* Box Model*/
    display: block;
    padding: 12px 16px;
    width: 229px;
    height: 48px;
    align-items: center;
    background: var(--off-white);
    /* Sombra */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 4px;
    /* Texto*/
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--warm-black);
    text-decoration: none;
}

.header__button span {
    display: inline-block;
    background-image: url('./assets/icons/down-arrow.svg');
    width: 12px;
    height: 8px;
    margin-left: 12px;
}

main {
    width: 100%;
    height: auto;
    background: var(--off-white);
}

.main-exchange-container {
    height: auto;
    width: 100%;
    min-width: 320px;
    padding-top: 60px;
    padding-bottom: 30px;
}

.main-exchange-container__title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 30px auto;
    text-align: center;
}

.main-exchange-container .backgroundImg {
    width: 195px;
    height: 195px;
    margin: 0 auto;
    background-image: url('./assets/img/Bitcoin.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container__title h2 {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--warm-black);
}

.main-exchange-container__title p {
    padding-top: 24px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #757575;
}

/* Estilos de la Tabla Monedas */

.main-currency-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: auto;
    margin: 0 auto 15px;
    font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table__title {
    margin-left: 12px;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

.currency-table__container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 160px;
    margin: 0 auto;
}

.currency-table__container table {
    width: 100%;
    height: 100%;
}

.currency-table__container td {
    width: 50%;
    padding: 0 12px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background: var(--just-white);
}

.table--top-left {
    border-radius: 15px 0 0 0;
}

.table--top-right {
    border-radius: 0 15px 0 0;
}

.table--bottom-right {
    border-radius: 0 0 15px 0;
}

.table--bottom-left {
    border-radius: 0 0 0 15px;
}

.currency-table__container .table--right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.currency-table__container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-down.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.currency-table__container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-up.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Estilos de Boton de actualizacion */

.currency-table__date {
    width: 180px;
    height: 32px;
    margin: 15px auto;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 10px;
}

.currency-table__date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
}


/* Estilos a la Tabla Comisones*/
.main-commission-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: auto;
    margin: 30px auto 15px;
    font-family: "Inter", sans-serif;
}

.commission-table__title {
    margin-bottom: 12px;
    padding: 0 12px;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: var(--secondary-blue);
}

.commission-table__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 160px;
    margin: 0 auto;
}

.commission-table__container li {
    background-color: var(--just-white);
    list-style-type: none;
}

.commission-table__container .table-right li {
    padding: 10px 12px;
    /* Texto */
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #B5B0AC;
}

.commission-table__container .table-left li {
    padding: 11px 12px;
    /* Texto */
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #757575;
}

/* Estilos de Boton de actualizacion */
.commission-table__date {
    margin: 15px auto;
    width: 180px;
    padding: 8px;
    background: var(--soft-blue);
    border-radius: 8px;
    /* Texto */
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--black);
}


/* Estilos Seccion detalles de producto*/

.main-product-detail {
    position: relative; /* Padre directo del position absolute */
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 30px 0;
    background-color: var(--warm-black);
}

.product-detail__logo {
    position: absolute; /* Se coloca position:relative para que se tome como referencia al momento de moverlo*/
    top: calc(0% - 25px/2);
	left: calc(50% - 40px/2);
    width: 40px;
    height: 25px;
    background-image: url('./assets/icons/batata.svg');
}

.product-detail__title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 45px auto 0;
    text-align: center;
}

.product-detail__title h2 {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--just-white);
    margin-bottom: 20px;
}

.product-detail__title p {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #808080;
}

/* Estilos de articulos del producto */
.product-detail__cards-container {
    width: 90%;
    height: auto;
    margin: 30px auto;
}

.product-detail__card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background: var(--black);
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail__card h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: var(--just-white);
    margin-bottom: 10px;
}

.product-detail__card p {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--grey);
}

.product-detail__card span {
    display: inline-block;
    margin-bottom: 10px;
    width: 2.4rem;
    height: 2.4rem;
    background-size: cover;
    background-position: center;
}

.clock {
    background-image: url('./assets/icons/clock.svg');
}
.eye {
    background-image: url('./assets/icons/eye.svg');
}
.dollar {
    background-image: url('./assets/icons/dollar-sign.svg');
}
.check {
    background-image: url('./assets/icons/check-circle.svg');
}


.main-bitcoin-img__container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('./assets/img/bitcoinbaby2x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-bitcoin-img__container h2 {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--just-white);
    text-align: center;
    /* Box Model*/
    margin: 0 auto;
    padding-top: 65px;
}